@use "../1_abstracts/" as *;
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

::selection {
    background-color: $color-grey-25;
    color: $color-white;
}

html {
    font: 400 125%/1 "Poppins", sans-serif;
    color: $color-grey-25;
}

body {
    box-sizing: border-box;
}