@use "../1_abstracts/" as *;
@font-face {
    font-family: 'Poppins';
    src: url('./fonts/poppins_bold.woff2') format('woff2'), url('./fonts/poppins_bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/poppins_regular.woff2') format('woff2'), url('./fonts/poppins_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.heading-1 {
    font-size: 2.25rem;
    line-height: 1.25;
    backface-visibility: hidden;
    background-image: linear-gradient(to right, $color-green, $color-gold);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    @include responsive($screen-tablet-m) {
        font-size: 4rem;
    }
}

.heading-2 {
    font-size: 1.5rem;
    line-height: 1.25;
}

.paragraph {
    line-height: 1.5;
}

.link {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    color: currentColor;
    &::after {
        content: "";
        position: absolute;
        top: calc(100% + 0.25rem);
        left: 50%;
        display: block;
        width: 0;
        height: 0.15rem;
        background-image: linear-gradient(to right, $color-green, $color-gold);
        transition: width 0.25s ease, left 0.25s ease;
    }
    &:hover::after {
        width: 100%;
        left: 0;
    }
}