@use "../1_abstracts/" as *;
.header {
    grid-column: page-start / page-end;
    grid-row: 1 / 2;
    position: relative;
    z-index: 3;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0.25rem 0.5rem $color-shadow;
    @include responsive($screen-mobile-m) {
        padding: 1rem 1.5rem;
    }
    @include responsive($screen-tablet-s) {
        padding: 1rem 2.25rem;
    }
    @include responsive($screen-tablet-l) {
        padding: 1rem 7.5%;
    }
    @include responsive($screen-desktop-m) {
        padding: 1rem 10%;
    }
    &__logo {
        height: 2.5rem;
        fill: $color-grey-25;
        transition: transform 0.25s ease, fill 0.25s ease;
        &:hover {
            transform: translateY(-0.1rem);
            fill: $color-grey-50;
        }
    }
    &__navigation {
        position: absolute;
        z-index: 5;
        width: calc(100% - 2rem);
        top: calc(100% + 1rem);
        left: 1rem;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        background-color: $color-white;
        box-shadow: 0 0.25rem 0.5rem $color-shadow;
        text-align: center;
        transition: background-color 0.25s ease;
        pointer-events: none;
        opacity: 0;
        transform: translateY(-1rem);
        transition: opacity 0.5s ease, transform 0.5s ease;
        @include responsive($screen-mobile-m) {
            width: calc(100% - 3rem);
            left: 1.5rem;
        }
        @include responsive($screen-tablet-s) {
            width: calc(100% - 4.5rem);
            left: 2.25rem;
        }
        @include responsive($screen-tablet-l) {
            background-color: transparent;
            position: relative;
            top: initial;
            left: initial;
            opacity: 1;
            pointer-events: all;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            box-shadow: none;
            transform: translateY(0);
        }
        &--active {
            pointer-events: all;
            opacity: 1;
            transform: translateY(0);
        }
    }
    &__link {
        padding: 0.75em 0;
        background-color: $color-white;
        transition: background-color 0.25s ease;
        border-bottom: 0.05rem solid $color-grey-97;
        &::after {
            display: none;
        }
        &:hover {
            background-color: $color-grey-97;
        }
        @include responsive($screen-tablet-l) {
            padding: 0;
            border: none;
            margin-right: 1.5em;
            &:hover {
                background-color: $color-white;
            }
            &::after {
                display: block;
            }
        }
    }
    &__button {
        align-self: center;
        margin: 1rem 0;
        @include responsive($screen-tablet-l) {
            margin: 0;
        }
    }
    &__toggle {
        position: relative;
        display: block;
        width: 1.5rem;
        height: 0.75rem;
        color: $color-grey-25;
        transition: color 0.25s ease;
        cursor: pointer;
        @include responsive($screen-tablet-l) {
            display: none;
        }
        &:hover {
            color: $color-grey-50;
        }
        &--active {
            .header__toggle-bar {
                &--1 {
                    top: 50%;
                    transform: translateY(-50%) rotate(135deg);
                }
                &--2 {
                    bottom: 50%;
                    transform: translateY(50%) rotate(-135deg);
                }
            }
        }
    }
    &__toggle-bar {
        position: absolute;
        left: 0;
        width: 100%;
        height: 0.2rem;
        background-color: currentColor;
        transition: top 0.25s ease, bottom 0.25s ease, transform 0.25s ease;
        &--1 {
            top: 0;
        }
        &--2 {
            bottom: 0;
        }
    }
}