// COLORS
$color-white: #FFFFFF;
$color-gold: #FCC201;
$color-green: #4AC752;
$color-blue: #453CC3;
$color-grey-25: #404040;
$color-grey-50: #808080;
$color-grey-90: #E5E5E5;
$color-grey-97: #F7F7F7;
$color-shadow: #00000025;
$color-facebook: #1778F2;
// BREAKPOINTS
$screen-mobile-s: 320px;
$screen-mobile-m: 440px;
$screen-mobile-l: 560px;
$screen-tablet-s: 680px;
$screen-tablet-m: 800px;
$screen-tablet-l: 920px;
$screen-desktop-s: 1040px;
$screen-desktop-m: 1160px;
$screen-desktop-l: 1280rem;